:root {
    --primary-color: #418FDE;
    --accent-color: #FFBD2B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", serif;
    justify-content: center;
}

h3 {
    font-weight: bold;
    font-size: max(4vw, 24px);
}

h2 {
    color: var(--primary-color);
}

p {
    font-family: Helvetica, sans-serif;
}

label, input, button {
    font-family: Helvetica, sans-serif;
}
/* HEADER */

/* header {
    font-family: "Sawarabi Mincho", cursive;
} */

header a,
header h1 {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header{
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    border-bottom: 4px solid #156fb0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    z-index: 100;
}

.logo {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.logo img {
    width: 2.5rem;
}

.logo h1 {
    width: 40vw;
    text-align: left;
}

nav {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 1.5rem;
}

#donate-button {
    background-color: var(--accent-color);
    border-radius: 8px;
    color: rgb(40, 40, 40);
    padding: 8px 12px;
}

#donate-button:hover,
.hero-section button:hover {
    box-shadow: 0.5px 0.5px 4px rgb(40, 40, 40);
    color: white;
}

header nav a:hover {
    color: rgb(40, 40, 40);
}

/* Add an active class to highlight the current page */
header a.active {
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
header .icon {
    display: none;
}

/* FOOTER */

#footer {
    font-size: 14px;
    background-color: #418FDE;
    /* border-top: 4px solid #47b1fc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 0.5rem 0;
}

#footer .footer-content img {
    align-self: center;
    width: max(10vw, 60px);
    margin-right: 1rem;
}

#footer svg {
    width: max(3vw, 30px) ;
    color: white;
    margin-bottom: 1rem;
}

.icons a {
    width: 2vw;
}

.footer-content {
    text-align: left;
    height: auto;
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5rem;
    word-break: break-all;
}

.footer-content a {
    color: white;
}

.footer-content>div {
    width: max(15vw, 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content a {
    text-decoration: none;
}

.footer-content p {
    color: white;
    text-decoration: none;
    line-height: 1.35;
}

.footer-content .icons {
    display: block;
    align-self: center;
}

.footer-content .icons a {
    font-size: max(3vw, 30px);
    color: white;
    margin-right: 1rem;
}

#footer .partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#footer hr.footer-bar {
    width: 75%;
    height: 1px;
    border: none;
    background-color: white;
}

#footer .partners img {
    height: max(9vw, 80px);
    width: auto;
}

#footer img.salaam {
    height: max(4vw,30px);
    width: auto;
    margin-left: 1rem;
}

/* MISSION */

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/menwomen.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-section>p:nth-child(odd) {
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    padding-top: 1.5em;
    padding-right: 2em;
}

.hero-section h2 {
    color: white;
    margin-top: 4rem;
    font-size: max(4vw, 32px);
    width: 75vw;
    text-align: center;
}

.hero-section p {
    font-size: 1.5rem;
    justify-content: center;
}

.hero-section a.arrow {
    color: white;
    width: 4.5rem;
    margin-top: -25px;
}

.hero-section a.arrow:hover {
    transform: scale(1.15);
}

.hero-section button {
    font-weight: 600;
    background-color: var(--accent-color);
    border: 1px solid #f9ca64;
    color: rgb(40, 40, 40);
    font-size: 1.25rem;
    padding: 18px;
    border-radius: 8px;
    cursor: pointer;
}

/* ABOUT US */

#about-us-section {
    color: black;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
}

#about-us-section div {
    width: max(40vw, 7rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#about-us-section img {
    object-fit: cover;
    height: max(30vw, 5rem);
    width: max(30vw, 5rem);
    border-radius: 60%;
    border: 8px solid var(--primary-color);
}

#about-us-section h3 {
    color: var(--primary-color);
}

#about-us-section p {
    line-height: 1.5;
    font-size: max(1.35vw, 14px);
}

/* SERVICES */

#services-section {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 3rem 0;
}

#services-section div {
    width: max(85%, 35rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

#services-section article {
    background-color:#ffffff;
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
    gap: 0.5rem;
    height: 23rem;
    padding: 0 1rem;
}

#services-section article:hover {
    translate: 0px -10px;
    box-shadow: 2px 2px 6px black;
}

#services-section article h4 {
    width: max(16vw, 12rem);
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.25rem;
    overflow-wrap: break-word;
}

#services-section article ul {
    width: 70%;
    line-break:loose;
}

#services-section article li {
    font-size: 1rem;
    list-style-type: square;
    text-align: left;
    margin-top: 0.5rem;
}

#services-section hr {
    width: 75%;
    border: none;
    height: 1.5px;
    background-color: black;
}

#services-section svg {
    width: 4.5rem;
    color: var(--accent-color);
}

/* STAFF */

#staff-section {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

#staff-section h3 {
    color: black;
    margin-bottom: 1.5rem;
}

#staff-section div {
    width: min(90vw, 65rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 2rem;
}

#staff-section article {
    width: max(18vw, 12rem);
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#staff-section h4 {
    font-weight: bold;
    font-size: 20px;
}

#staff-section p {
    width: 80%;
}

#staff-section img {
    width: 7rem;
    padding: 0.5rem;
}

/* EVENTS */

#events-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/food-pantry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    color: black;
    padding: 3rem 0;
}

#events-section .event-card hr {
    width: 90%;
    border: none;
    height: 2px;
    background-color: white;
    align-self: center;
}

#events-section .food-pantry-card hr {
    width: 90%;
    border: none;
    height: 2px;
    background-color: black;
    align-self: center;
}

#events-section h2 {
    color: white;
    font-size: 3rem;
}

#events-section>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#events-section h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

#events-section svg {
    width: 3.5rem;
    color: var(--accent-color);
}

#events-section .special-event-tag{
    font-size: 0.85rem;
    background-color:#dd9a0b;
    width: 7rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}

#events-section .weekly-event-tag{
    color: white;
    font-size: 0.85rem;
    background-color:#418FDE;
    width: 7rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}

#events-section .event-card {
    background-color: #fdb71ef2;
    width: max(28vw, 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    padding: 2.5rem 1.5rem;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    box-shadow: 1rem -0.75rem 0px #eda813d0;
}

.event-card h3 {
    color: white;
}

#events-section .food-pantry-card h3 {
    color: var(--primary-color);
}

#events-section .food-pantry-card {
    background-color: #ffffffDE;
    width: max(28vw, 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    padding: 2.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black;
    box-shadow: 1rem -0.75rem 0px #cdcdcdce;
}

#events-section>div>div>div {
    line-height: 1.5;
}

#events-section .food-pantry-card h3, .event-card h3 {
    font-size: max(2.75vw, 28px);
}

#events-section p {
    width: 90%;
    font-size: max(1.5vw, 18px);
}

.events-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.25rem 0.5rem;
    align-self: center;
}

.events-buttons button {
    background-color: #418FDE;
    border: 2px solid #d6d6d6;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: max(1.25vw, 16px);
    color: white;
    text-decoration: none;
}

#events-section button:hover {
    box-shadow: 2px 2px 0px black;
}

/* NEWS */

#news-section {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: flex-start;
    gap: 3rem;
    padding: 3rem 0;
}

#news-section img {
    height: 50vh;
    width: 40vw;
    object-fit: cover;
}

#news-section a {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    color: black;
    text-decoration: none;
}

#news-section a div {
    /* width: 40vw; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}

#news-section h2 {
    font-size: max(3.5vw, 32px);
}

#news-section h3 {
    font-size: max(2vw, 18px);
}

#news-section h3:hover {
    text-decoration: underline;
}

#news-section p {
    font-size: max(1.50vw, 16px);
}

#news-section .desc {
    /* height: 5rem; */
    overflow: hidden;
    font-size: max(1.25vw, 15px);
}

.community-sect h2 {
    position: absolute;
    top: 2rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: max(4.5vw, 42px);
    color: white;
}

.community-sect h3 {
    font-size: 3rem;
    font-style: normal;
    text-align: center;
}

.community-sect div img.one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/menwomen.JPG");
}

.community-sect div img.one:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/menwomen.JPG");
}

.community-sect div img.two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/table.JPG");
}

.community-sect div img.two:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/table.JPG");
}

.community-sect div img.three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/community.JPG");
}

.community-sect div img.three:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/community.JPG");
}

.community-sect div img.four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/chip.JPG");
}

.community-sect div img.four:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/chip.JPG");
}

.community-sect div img {
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.community {
    height: 94vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: flex-start;
}

.community div p {
    display:none;
    position: absolute;
}

.community img {
    max-width: 100%;
    height: auto;
}


/* Styling for Donations Page */

.donate-section {
    padding: 3rem 0;
}

.donate-section  .donate-description{
    margin: 0 auto;
    padding-bottom: 2rem;
    width: 60%;
    text-align: center;
    font-size: 1.25rem;
}

.donate-section h2 {
    padding-bottom: 1.25rem;
    color: var(--primary-color);
    font-size: 2.25rem;
}

.donate-section .donate-additional {
    width: 45%;
    text-align: center;
    margin: 0 auto;
    padding-top: 1.25rem;
    font-size: 1rem;
    color: var(--primary-color);
}

/* Styling for the Resources Page */
.resources-list article.hidden {
    display: none !important;
}

.resources-section {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
}

.resources-section h2 {
    font-size: max(4vw, 24px);
}

.resources-section .resources-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.resources-section .resources-title p {
    width: 75%;
    text-align: center;
}

.resources-section ul.filter-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.resources-section ul.filter-buttons li button:hover {
    background-color: black;
    border:2px solid black;
}

.resources-section ul.filter-buttons li button.all {
    background-color: var(--accent-color);
    border: 2px solid #e2a116;
    color: white;
}

.resources-section .filter-buttons .button-clicked {
    background-color: black !important;
    border: 1px solid black !important;
}

.resources-section ul li {
    list-style-type: none;
}

.resources-section li button {
    font-size: 1rem;
    color: white ;
    padding: 0.65rem 1rem;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.resources-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
}

.resources-list article img {
    width: 7rem;
}

.resources-list article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    border: 2px solid lightgrey;
    padding: 1rem 1.5rem;
    /* border-radius: 10px; */
    width: 100%;
    background-color: rgb(250, 250, 250);
}

.resources-list article div {
    width: 50%;
}

.resources-section .resources-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
    width: 40%;
}

.resources-list article a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary-color);
}

.resources-list article a:hover {
    text-decoration: underline;
}

.resources-section .resources-tags li{
    padding: 0.25rem;
    background-color: var(--accent-color);
    border: 2px solid #e2a116;
    border-radius: 8px;
    font-size: 0.75rem;
    font-family: Helvetica, sans-serif;
}

.volunteer-section {
    width: min(85vw, 30rem);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    margin: 3rem auto;
    padding: 2rem 4rem;
    border-radius: 6px;
    background-color: #fafafa;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.501);
    justify-content:flex-start;
    align-items: flex-start;
}

.volunteer-section form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.volunteer-section form div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.volunteer-section form input {
    padding: 0.5rem;
    width: 20rem;
    border-radius: 6px;
    border: 1px solid #d5d5d5;
}

.volunteer-section form button {
    background-color: var(--accent-color);
    color: black;
    width: 10rem;
    padding: 0.5rem 0;
    border-radius: 6px;
    border: 1px solid #d5d5d5;
}

/* Styling for the responsive (hamburger menu) view */
@media screen and (max-width: 808px) {
    header.responsive {
        flex-direction: column;
        /* Stack items vertically */
        align-items: flex-end;
        /* Align links to the right */
        position: relative;
    }

    /* Position the hamburger icon on the top right */
    header.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Display links in a vertical layout */
    header.responsive .right-align {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* Take full width of the container */
        text-align: right;
    }

    /* Display each link as a block element for stacking */
    header.responsive .right-align a {
        float: none;
        display: block;
        width: 100%;
        padding: 10px;
        text-align: right;
    }




}