:root {
    --primary-color: #418FDE;
    --accent-color: #FFBD2B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sawarabi Mincho", serif;
    justify-content: center;
}

h3 {
    font-weight: bold;
    font-size: 2.65rem;
}

/* HEADER */

header {
    font-family: "Sawarabi Mincho", cursive;
}

header a,
header h1 {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    font-weight: 600;
    background-color: var(--primary-color);
    border-bottom: 7px solid #156fb0;
    border-bottom-right-radius: 30%;
    height: 5rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    z-index: 10;
}

.logo h1 {
    width: 30vw;
    max-width: 35vw;
    text-align: left;
}

nav {
    font-weight: 600;
    background-color: var(--primary-color);
    border-bottom: 5px solid #156fb0;
    height: 3.75rem;
    width: 100%;
    position: absolute;
    top: 0rem;
    right: 0rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    gap: 1.5rem;
}

#donate-button {
    background-color: var(--accent-color);
    border-radius: 4px;
    color: rgb(40, 40, 40);
    padding: 4px 6px;
}

#donate-button:hover,
.hero-section button:hover {
    box-shadow: 0.5px 0.5px 4px rgb(40, 40, 40);
    color: white;
}

header nav a:hover {
    color: rgb(40, 40, 40);
}

/* Add an active class to highlight the current page */
header a.active {
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
header .icon {
    display: none;
}

/* FOOTER */

#footer {
    font-size: 14px;
    background-color: #418FDE;
    border-top: 7px solid #156fb0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 0.5rem 0;
}

#footer img {
    align-self: center;
    width: 10vw;
    margin-right: 1rem;
}

#footer svg {
    width: 3vw;
    color: white;
    margin-bottom: 1rem;
}

.icons a {
    width: 2vw;
}

.footer-content {
    text-align: left;
    height: auto;
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0.5rem;
}

.footer-content>div {
    width: max(15vw, 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content a {
    text-decoration: none;
}

.footer-content p {
    color: white;
    text-decoration: none;
    line-height: 1.35;
}

.footer-content .icons {
    display: block;
    align-self: center;
}

.footer-content .icons a {
    font-size: 3vw;
    color: white;
    margin-right: 1rem;
}

#footer .partners {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#footer .partners img {
    height: 9vw;
    width: auto;
}

#footer img.salaam {
    height: 4vw;
    width: auto;
    margin-left: 1.5rem;
}

/* MISSION */

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/menwomen.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

.hero-section>p:nth-child(odd) {
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    padding-top: 1.5em;
    padding-right: 2em;
}

.hero-section h2 {
    margin-top: 10rem;
    font-size: 3rem;
    max-width: 75vw;
    text-align: center;
}

.hero-section p {
    font-size: 1.5rem;
    justify-content: center;
}

.hero-section button {
    background-color: var(--accent-color);
    /* border: 1px solid var(--accent-color); */
    box-shadow: 0px 0px 4px rgb(136, 75, 1);
    color: rgb(40, 40, 40);
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 8px;
}

/* ABOUT US */

#about-us-section {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
}

#about-us-section div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#about-us-section img {
    object-fit: cover;
    height: 30vw;
    width: 30vw;
    border-radius: 60%;
    box-shadow: 1px 1px 6px black;
}

#about-us-section p {
    line-height: 1.5;
    font-size: 1rem;
    width: max(400px, 45vw);
}

/* SERVICES */

#services-section {
    background-color: var(--primary-color);
    color: white;
    border-top: 5px solid #156fb0;
    border-bottom: 5px solid #156fb0;
    /* height: 100vh;
    max-height: 140vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 3rem 0;
}

#services-section div {
    width: max(600px, 85vw);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

#services-section article {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#services-section article h4 {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

#services-section article li {
    font-size: 0.8rem;
    width: 12vw;
    list-style-type: none;
    text-align: left;
    line-height: 1.5;
}

#services-section hr {
    width: 70%;
    border: none;
    height: 2px;
    background-color: white;
}

#services-section svg {
    /* align-self: center; */
    width: 4.5rem;
    color: var(--accent-color);
}

/* STAFF */

#staff-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#staff-section h3 {
    margin-bottom: 1.5rem;
}

#staff-section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#staff-section article {
    width: 20vw;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#staff-section h4 {
    font-weight: bold;
    font-size: 20px;
}

#staff-section img {
    width: 8rem;
}

/* EVENTS */

#events-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/food-pantry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 94vh;
    color: black;
    margin-top: 3.5rem;
}

#events-section>div {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

#events-section svg {
    width: 3.5rem;
    color: var(--accent-color);
}

#events-section .food-pantry-card {
    background-color: #ffffffDE;
    height: 65vh;
    width: max(35vw, 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.35rem;
    padding: 2rem;
    margin-right: 0.75rem;
    border-radius: 0.5rem;
    color: black;
    box-shadow: 1rem -0.75rem 0px #cdcdcdde;
}

#events-section>div>div>div {
    line-height: 1.5;
}

#events-section h2 {
    font-size: max(3.75vw, 32px);
}

#events-section p {
    font-size: max(1.75vw, 18px);
}

#events-section button {
    background-color: #418FDE;
    border: 2px solid #156fb0;
    padding: 0.5rem 1rem;
    border-radius: 0.35rem;
    font-weight: bold;
    font-size: max(2vw, 18px);
    color: white;
    text-decoration: none;
}

#events-section button:hover {
    box-shadow: 2px 2px 0px black;
}

/* NEWS */

#news-section {
    margin: auto;
    width: 85vw;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: flex-start;
    gap: 4rem;
    padding: 4rem 0;
}

#news-section img {
    height: 50vh;
    width: 40vw;
    object-fit: cover;
}

#news-section a {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    color: black;
    text-decoration: none;
}

#news-section a div {
    /* width: 40vw; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#news-section h2 {
    font-size: max(3.75vw, 32px);
}

#news-section h3 {
    font-size: max(2.5vw, 20px);
}

#news-section h3:hover{
    text-decoration: underline;
}

#news-section p {
    font-size: max(2vw, 16px);
}

#news-section .desc {
    /* height: 5rem; */
    overflow: hidden;
    font-size: max(1.75vw, 16px);
}

#our-community {
    align-self: center;
    justify-self: center;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.community-sect img {
    border-radius: 35px;
}

.community-sect h1 {
    font-size: 2.5em;
    font-style: normal;
}

.community-sect h3 {
    font-size: 1.5em;
    font-style: normal;
    text-align: center;
}


.community {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas: "one two thr fou" "fiv six sev eit";
}

.community img {
    max-width: 100%;
    height: auto;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#thr {
    grid-area: thr;
}

#fou {
    grid-area: fou;
}

#fiv {
    grid-area: fiv;
}

#six {
    grid-area: six;
}

#sev {
    grid-area: sev;
}

#eit {
    grid-area: eit;
}

/*Styling for things ONLY on food pantry page */
.content {
    display: grid;
    justify-content: center;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "imgs text";
}

#text {
    grid-area: text;
    text-align: left;
    font-size: 1.5em;
    font-style: normal;
    align-self: center;
    padding: 2em;
}

.content img {
    grid-area: imgs;
    max-width: 100%;
    height: auto;
}

/* Styling for things ONLY on the Our Services page */
/* Styling for things ONLY on the Our Services page */
.sercontent {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 2fr 0.25fr 2fr;
    grid-template-areas: "h h" "list1 list2" "h2 h2" "art1 art2";
    padding: 3em;
    margin-left: 2em;
}

#h {
    grid-area: h;
    text-align: center;
    font-size: 2.5em;
    font-style: normal;
    align-self: center;
}

#h2 {
    grid-area: h2;
    text-align: center;
    font-size: 2.5em;
    font-style: normal;
    align-self: center;
}

#list1 {
    grid-area: list1;
    font-size: 1.5em;
    font-style: normal;
    align-self: center;
}

#list2 {
    grid-area: list2;
    font-size: 1.5em;
    font-style: normal;
    align-self: left;
}

#art1 {
    grid-area: art1;
}

#art2 {
    grid-area: art2;
}

.evecontent {
    display: grid;
    justify-content: center;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "poster deets";
}

#deets {
    grid-area: deets;
    text-align: left;
    font-size: 1.5em;
    font-style: normal;
    align-self: center;
    padding: 2em;
}

#poster {
    grid-area: poster;
    max-width: 60%;
    height: auto;
}

/* Styling for Donations Page */

.doncontent {
    display: grid;
    /* align-items: center; */
    justify-content: center;
    grid-template-columns: 1.5fr 1.5 1fr;
    grid-template-areas: "sign  build partext";
}

.doncontent img {
    max-width: 100%;
    max-height: 450px;
    height: auto;
}

.doncontent #partext {
    grid-template-areas: partext;
    text-align: center;
    padding: 2em;
    font-size: 1.6em;
}

.doncontent #build {
    grid-template-areas: build;
}

.doncontent #sign {
    grid-template-areas: sign;
}

/* Styling for the Resources Page */
.resource-list {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "col1 col2";
    margin-left: 10em;
    padding: 5em;
    margin-right: 4em;
}

.list1 {
    grid-area: col1;
}

.list2 {
    grid-area: col2;
}




/* Styling for the responsive (hamburger menu) view */
@media screen and (max-width: 808px) {
    header.responsive {
        flex-direction: column;
        /* Stack items vertically */
        align-items: flex-end;
        /* Align links to the right */
        position: relative;
    }

    /* Position the hamburger icon on the top right */
    header.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Display links in a vertical layout */
    header.responsive .right-align {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* Take full width of the container */
        text-align: right;
    }

    /* Display each link as a block element for stacking */
    header.responsive .right-align a {
        float: none;
        display: block;
        width: 100%;
        padding: 10px;
        text-align: right;
    }




}